.board h4{
    text-align: center;
    margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black-color);
    margin-top: 1em;
}
.head{
    text-align: center;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;

}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 1.5em;
    text-shadow: 0px 15px 12px  var(--box-background-color);
    color: var(--box-border-color);
    font-size: 1.5em;
}
.boardRow{
    display: flex;
    justify-content: center;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}
.items button{
    width: 6em;
    height: 3em;
    background-color: var(--box-border-color);
    color: #fff;
    border: none;
    cursor: pointer;
}
.items button:hover{
    background-color: #fff;
    color: var(--box-border-color);
    border: 1px solid var(--box-border-color);
}
.winner{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}